@media screen and (max-width: 1150px) {
  header {
    display: block;

    #div1 {
      display: flex;
      width: fit-content;
      margin: auto;
      padding-left: 3rem;
    }

    nav {
      display: none;

      ul {
        display: block;
        width: 100%;
        li {
          padding: 1rem;
        }
        a {
          margin: 0 40;
          text-align: center;
          width: 100%;
          display: block;
        }
      }
    }
    button {
      display: inline;
    }
  }

  main {
    #wrapper {
      display: block;

      .card {
        margin: 2rem auto;
      }
    }
  }
}

// slider 
@media screen and (max-width: 950px) and (min-width: 400px){
  #slidhere {
    #slicon {
  .move {
    top: 40%;
  }}}
}


@media screen and (max-width: 600px) and (min-width: 501px) {
  #slidhere {
    #slicon {
      .move {
        width: 40px;
        height: 40px;
        
      }
      #sliderbtns {
        left: 45%;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  #slidhere {
    #slicon {
      .move {
        width: 40px;
        height: 40px;
        top: 30%;
      
      }
      #sliderbtns {
        display: none
      }
    }
  }
}
