body {
  margin: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: cadetblue;
}

header nav {
  display: inline;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  list-style: none;
  padding: 2rem;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: larger;
}

header figure {
  text-align: center;
}

header #div1 {
  width: 30%;
}

header #div1 figure img {
  width: 50px;
  height: 50px;
}

#slidhere {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#myimg {
  z-index: 1;
}

#slicon {
  position: relative;
}

#sliderbtns {
  position: relative;
  bottom: 30px;
  left: 50%;
}

.move {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
  opacity: 0.3;
}

.move:hover {
  opacity: 0.7;
}

#btngt {
  right: 0;
}

#btnlt {
  z-index: 3;
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.card {
  width: 19rem;
  height: 15rem;
  text-align: center;
  border: 2px solid purple;
  margin: 1rem 5rem;
  overflow: hidden;
  position: relative;
  border-radius: 100%;
}

.card .card-front {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  display: block;
  -webkit-transition: 2s ease;
  transition: 2s ease;
  height: 100%;
  width: 100%;
}

.card .card-front img {
  height: 100%;
  width: 100%;
}

.card .card-back {
  z-index: 0;
  opacity: 1;
  position: relative;
  -webkit-transition: 4s ease;
  transition: 4s ease;
}

.card.fade:hover .card-front {
  opacity: 0.2;
}

.card.fade:hover .onhover {
  opacity: 1;
}

.card.flip .card-front {
  -webkit-transform: perspective(1000px) rotateY(0deg);
          transform: perspective(1000px) rotateY(0deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.5s linear 0s;
  transition: -webkit-transform 0.5s linear 0s;
  transition: transform 0.5s linear 0s;
  transition: transform 0.5s linear 0s, -webkit-transform 0.5s linear 0s;
}

.card.flip .card-back {
  -webkit-transform: perspective(1000px) rotateY(180deg);
          transform: perspective(1000px) rotateY(180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.5s linear 0s;
  transition: -webkit-transform 0.5s linear 0s;
  transition: transform 0.5s linear 0s;
  transition: transform 0.5s linear 0s, -webkit-transform 0.5s linear 0s;
}

.card.flip:hover .card-front {
  -webkit-transform: perspective(1000px) rotateY(-180deg);
          transform: perspective(1000px) rotateY(-180deg);
}

.card.flip:hover .card-back {
  -webkit-transform: perspective(1000px) rotateY(0deg);
          transform: perspective(1000px) rotateY(0deg);
}

@media screen and (max-width: 1150px) {
  header {
    display: block;
  }
  header #div1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    padding-left: 3rem;
  }
  header nav {
    display: none;
  }
  header nav ul {
    display: block;
    width: 100%;
  }
  header nav ul li {
    padding: 1rem;
  }
  header nav ul a {
    margin: 0 40;
    text-align: center;
    width: 100%;
    display: block;
  }
  header button {
    display: inline;
  }
  main #wrapper {
    display: block;
  }
  main #wrapper .card {
    margin: 2rem auto;
  }
}
/*# sourceMappingURL=style.css.map */